<template>
  <div class="home">
    <button v-on:click="test">Test</button>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
let dayjs = require('dayjs')
let customParseFormat = require('dayjs/plugin/customParseFormat')
dayjs.extend(customParseFormat)
export default {
  name: 'Home',
  components: {
    // HelloWorld
  },
  methods: {
    test: function () {
      this.$store.commit('SET_GR_ID', 1)
      this.$store.dispatch('GET_GR_LIST')
    }
  }
}
</script>
