<template>
  <div class="main">
    <div class="group_list">
      <div class="group_list-inner" v-if="group_list">
        <h4 class="group_name">{{group_name.replaceAll('_', ' ')}}</h4>
        <div class="members_count">Members: {{group_list.length}}</div>
        <div class="group_members">
          <div class="group_member" v-for="member in group_list" :key="group_list.indexOf(member)">{{member.name}}</div>
        </div>
      </div>
    </div>
    <div class="user">
      <input type="text" placeholder="You're vk id" v-model="vk_id" :disabled="vk_id">
    </div>
  </div>
</template>

<script>
export default {
  name: "Profile",
  mounted() {
    this.$store.dispatch('GET_GR_LIST')
  },
  computed: {
    group_list() {
      return this.$store.getters.GR_LIST
    },
    group_name() {
      return this.$store.getters.GROUP_NAME
    },
    vk_id: {
      get() {
        return this.$store.getters.VK_ID
      },
      set(value){
        this.$store.dispatch('ADD_VK_ID', value)
      }
    }
  }
};
</script>

<style scoped lang="less">
.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1em;
}

.group_members {
  font-size: .8em;
}

.group_member {
  margin: .5em 0;
}
</style>