<script>
export default {
    name: "TaskComponent",
    props: ['task']
}
</script>

<template>
    <div class="task-card">
        <p class="meta">
            <span class="subject">{{ task.subject }}</span>
            <span class="author">{{ task.author }}</span>
        </p>
        <p class="task-content">{{ task.task }}</p>
    </div>
</template>

<style lang="less" scoped>
.task-card {
  padding: 0.6em 1.2em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.06);

  .subject {
    font-size: 1.2em;
    text-transform: capitalize;
  }

  .author {
    font-size: 0.8em;
    color: #7389d6;
    padding: 0 0.6em;
  }

  .task-content {
    margin: .5em 0;
    font-size: 1.1em;
  }
}
</style>